In [60]:
def love(name):
    print(name)
love("malika")

malika

In [61]:
def love():
    print("Tonni")
love()

Tonni

In [62]:
def love(name="mallika"):
    print(name)
love()

mallika

In [63]:
def calculation(x):
    if x<0:
        return "Negative"
    else:
        return "positive"
print(calculation(-5))

Negative

In [64]:
def love(x):
    if x=="tonni":
        return "pure love"
    else:
        return "fake love"
print(love("tonni"))

pure love

In [65]:
def fun():
    pass
print(fun())

None

In [66]:
#define a function with a arbiraty number of arguments-(*arg)
def func(*m):
    for e in m:
        print(e)
func(1,3,5)
list_m=[2,4,6]
func(*list_m)

1
3
5
2
4
6

In [67]:
def love(*name):
    for e in name:
        print(e)
func("tonni","mallika","bithi")
list_name=["mallika","bithi","tonni"]
func(*list_name)

tonni
mallika
bithi
mallika
bithi
tonni

In [73]:
def love(**name):
    for e,i in name.items():
        print(e,i)
love(tonni=1,mallika=2,bithi=3)
list_name={'tonni':3,'mallika':2,'bithi':1}
func(**list_name)

tonni 1
mallika 2
bithi 3
tonni 3
mallika 2
bithi 1

In [74]:
#arbitary number of keyword argument
def func(**arg):
    for num,val in arg.items():
        print(num,val)
func(tom=1,pol=2,jery=3)
func_arg={'tonni':1,'mallika':2,'bithi':3}
func(**func_arg)

tom 1
pol 2
jery 3
tonni 1
mallika 2
bithi 3

In [77]:
def fun(**m):
    print(m)
    fun1(**m)
def fun1(**m):
    print(len(m))
fun(a=2,b=3)
m_list={'a':4,'b':5}
fun(**m_list)

{'a': 2, 'b': 3}
2
{'a': 4, 'b': 5}
2

In [93]:
def love(**name):
    print(name)
    love2(**name)
def love2(**name):
    print(len(name))

love(tonni=1)

{'tonni': 1}
1

In [94]:
love=lambda:"ashik"
print(love())

ashik

In [96]:
love=lambda:"ashik & Tonni"
print(love())

ashik & Tonni

In [97]:
love_upper=lambda s:s.strip().upper()
love_upper("tonni")

'TONNI'

In [99]:
love=lambda s:s.strip().lower()
love('TONNI')

'tonni'

In [100]:
love=lambda s,*m,**p:print(s,m,p)
love('tonni','mallika',ashik='jery')

tonni ('mallika',) {'ashik': 'jery'}

In [101]:
fruits=lambda x,*y,**z:print(x,y,z)
fruits('banana','orange',vitamins='apple')

banana ('orange',) {'vitamins': 'apple'}

In [110]:
sorted(["ashik","  TONNI","   Mallika"],key=lambda s:s.strip().upper())

['ashik', '   Mallika', '  TONNI']

In [111]:
sorted([" ASHIK","tonni  ","  Mallika"],key=lambda d:d.strip())

[' ASHIK', '  Mallika', 'tonni  ']

In [112]:
sorted(["banana","ORANGE","Apple"],key=lambda w:w.strip())

['Apple', 'ORANGE', 'banana']

In [118]:
sorted(map(lambda s:s.strip().upper(),["Ashik","ASHIK","ashik"]))

['ASHIK', 'ASHIK', 'ASHIK']

In [116]:
sorted(map(lambda f:f.strip(),["mallika","ASHIK","Tonni"]))

['ASHIK', 'Tonni', 'mallika']

In [120]:
my_list=[5,-1,3,4,2]
sorted(my_list,key=lambda x:abs(x))

[-1, 2, 3, 4, 5]

In [124]:
list(filter( lambda x:x>0,my_list))

[5, 3, 4, 2]

In [147]:
(list(map(lambda d:abs(d),my_list)))

[5, 1, 3, 4, 2]

In [133]:
def love(name):
    print(name)
don=lambda x="tonni & mallika":love(x)
don()

tonni & mallika

In [140]:
def fruits(name):
    print(name+name)
fog=lambda s=" banana & orange ":fruits(s*2)
fog()

 banana & orange  banana & orange  banana & orange  banana & orange

In [135]:
def func(x):
    return 2*x
print(func(3))

6

In [136]:
func=lambda x:2*x
print(func(5))

10

In [146]:
def josh(x):
    return(x*2)
doc=lambda s="tonni & mallika ":josh(s)
print(doc())

tonni & mallika tonni & mallika

In [155]:
doc=lambda :"ashik & tonni "
print(doc())

ashik & tonni

In [158]:
def love(name="single"):
    return name
love("mallika")

'mallika'

In [2]:
a=input("Enter any number: ")
print(a)

Enter any number: 56
56

In [6]:
def append(i,listed=[]):
    listed.append(i)
    return listed
append(4)
append(5)
append(7)

[4, 5, 7]

In [7]:
def dog(x):
    x[1]=8
    x=[2,5,7]
y=[1,2,3]
dog(y)
y

[1, 8, 3]

In [16]:
x=[1,0,2]
y=x
print(y)
x.append(3)
x
z=x+[4]
z
z=sorted(z)
print(z)

[1, 0, 2]
[0, 1, 2, 3, 4]

In [19]:
def love():
    return "tonni"
print(love()+" mallika")

tonni mallika

In [22]:
def love():
    return "tonni","mallika"
t,m=love()
m

'mallika'

In [36]:
def love(x):
    def prem(y):
        return y+x
    return prem
k=love(5)
k(9)

14

In [37]:
def love(x):
    def prem(y):
        def pirit(z):
            return x+y+z
        return pirit
    return prem
w=love(5)
t=w(9)
q=t(5)
print(q)

19

In [39]:
def love(x):
    def prem(y):
        nonlocal x
        x=x+y
        return x
    return prem
j=love(1)
j(7)

8

In [46]:
def fibonacci(n):
    def step(a,b):
        return b,a+b
    a,b=0,1
    for i in range(n):
        a,b=step(a,b)
        print(a)
m=fibonacci(10)

1
1
2
3
5
8
13
21
34
55

In [49]:
def love(m):
    try:
        love(m+1)
    except RuntimeError as RE:
        print('i recursed {} times'.format(m))
love(0)

i recursed 2960 times

In [51]:
lambdafactorial=lambda s:1 if s==0 else s*lambdafactorial(s-1)
print(lambdafactorial(5))

120

In [52]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [54]:
def fun(val,cal,mal):
    return '{0} {1} {2}'.format(val,mal,cal)
print(fun('mallika',8,100))

mallika 100 8

In [1]:
def love(val,cal,mal):
    return '{0} {1} {2}'.format(val,cal,mal)
print(love('tonni','mallika','ashik'))

tonni mallika ashik

In [12]:
def love(name):
    for e in name:
        print(e)
love(['ashik','tonni','mallika'])

ashik
tonni
mallika

In [6]:
class love():
    def name(self):
        print("tonni is my love")
    def tittle(self):
        print("her tittle is farjana ferdous")
class hate(love):
    def tittle(self):
        print("mallika")
class sex(love):
    def tittle(self):
        print("khan")
        
l=love()
h=hate()
s=sex()

l.name()
l.tittle()

h.name()
h.tittle()

s.name()
s.tittle()

tonni is my love
her tittle is farjana ferdous
tonni is my love
mallika
tonni is my love
khan

In [18]:
class Canada():
    def language(self):
        print("English")
    def capital(self):
        print("Autoa")
    def type(self):
        print("Developed")
class Bangladesh():
    def language(self):
        print("Bangla")
    def capital(self):
        print("Dhaka")
    def type(self):
        print("Developing")
def func(M):
    M.language()
    M.capital()
    M.type()

    
func(Canada())
func(Bangladesh())

English
English
Autoa
Developed
Bangla
Dhaka
Developing

In [23]:
import datetime
today=datetime.datetime.now()
print(str(today))
print (repr(today))

2020-04-08 21:49:40.386563
datetime.datetime(2020, 4, 8, 21, 49, 40, 386563)

In [25]:
x=lambda p:p+5
print(x(4))

9

In [7]:
def outer(text):
    t=text
    def inner():
        print(t)
    inner()
if __name__=="__main__":
    outer("ashik")

ashik

In [12]:
def love(name):
    n=name
    def you():
        print(n)
    return you()
if __name__=="__main__":
    love("roma hasan khan")

roma hasan khan

In [1]:
# Decorators uses: rule-1

def ashik(str):
    def roma():
        return "hey!, "
    return roma() + str
def name(m):
    return m
print(ashik(name("roma how are you?")))

hey!, roma how are you?

In [4]:
#decorators: rule-2

def man(m):
    def woman():
        return "i am the "
    return woman() + m

print(man("man"))

i am the man

In [11]:
# the real decorators:

def ashik(ash):
    def roma(rom):
        return "how are you? " + ash(rom)
    return roma  #in decorators {roma()} is no need to use.
@ashik
def name(rom):
    return rom
print(name("ashik"))

how are you? ashik

In [16]:
def add(A):
    A.x=8
    return A

@add
def adding(p,q):
    return p+q

print(adding(4,9))

print(adding.x)

13
8

In [17]:

def name(N):
    def ashik():
        print("hello! before")
        N()                   #the function execute middle of the function
        print("hello! after")
    return ashik

def using():
    print("hello! middle")

using=name(using) #equals to @name.....

using()

hello! before
hello! middle
hello! after

In [29]:
def name_dog(dog):
    def poppy():
        print("first poppy")
        dog()                  #execute middle of the function
        print("second poppy")
    return poppy
@name_dog
def using_dog():
    print("inside the first and second")
    
using_dog()

first poppy
inside the first and second
second poppy

In [25]:
import time
import math
def calc_time(C):
    def first(*M,**N):
        begin=time.time()
        C(*M,**N)
        end=time.time()
        print("Total time taken in: ", C.__name__,end - begin)
    return first
@calc_time
def factorial(num):
    time.sleep(5)
    print(math.factorial(num))
factorial(5)

120
Total time taken in:  factorial 5.0008790493011475

In [33]:
def decorate(dec):
    def inner(*args,**arvs):
        print("before")
        val=dec(*args,**arvs)
        print("after")
        return val
    return inner
@decorate
def summation(a,b):
    print("inside the function")
    return a+b
print(summation(5,6))

before
inside the function
after
11

In [34]:
def factorial(num):
    if num==1:
        return 1
    else:
        return num*factorial(num-1)
print(factorial(5))

120

In [40]:
# use of memorize factorial
def memorize_factorial(F):
    memory={}
    def inner(num):
        if num not in memory:
            memory[num]=F(num)
        return memory[num]
    return inner
@memorize_factorial
def use(num):
    if num==1:
        return 1
    else:
        return num*use(num-1)
print(use(7))

5040

In [48]:
#use of help([object]) function
class helper:
         def print_help(self):
            print("i am helper")
help(helper)
help(helper.print_help)

Help on class helper in module __main__:

class helper(builtins.object)
 |  Methods defined here:
 |
 |  print_help(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

Help on function print_help in module __main__:

print_help(self)

In [49]:
#import function
np=__import__('numpy',globals(),locals(),[],0)
a=np.array([2,3,4])
print(type(a))

<class 'numpy.ndarray'>

In [51]:
np=__import__('numpy',globals(),locals(),['complex','array'],0)
comp=np.complex
arr=np.array

In [5]:
#linear search
def search(arr,n,x):
    for i in range(0,n):
        if(arr[i]==x):
            return i
    return -1
arr=[3,4,5,6,7]
n=len(arr)
x=7
result=search(arr,n,x)
print(result)

4

In [7]:
#selection sort
import sys
A=[64,32,11,78,12]
for i in range(len(A)):
    min_index=i
    for j in range(i+1,len(A)):
        if(A[min_index]>A[j]):
            min_index=j
    A[i],A[min_index]=A[min_index],A[i]

for e in range(len(A)):
    print("%d"%A[e])

11
12
32
64
78

In [2]:
#insertion sort
def insertion(arr):
    for i in range(1,len(arr)):
        key=arr[i]
        j=i-1
        while(j>=0 and key<arr[i]):
            arr[j+1]=arr[j]
            j-=1
        arr[j+1]=key
arr=[23,21,11,34,56]
insertion(arr)
for e in range(len(arr)):
    print("%d"%arr[e])

23
21
11
34
56

In [3]:
x={1,2,3}
y={2,3,4}
x.issubset(y)

False

In [4]:
x.symmetric_difference(y)

{1, 4}

In [5]:
x=[24,25,25]
y=x
y[0]=1
x

[1, 25, 25]

In [1]:
name={'tom':32,'pol':42,'jery':52}
print(name)

{'tom': 32, 'pol': 42, 'jery': 52}

In [13]:
name.keys()
for e in sorted(name.keys(),reverse=True):
    print(e,name[e])

tom 32
pol 42
jery 52

In [10]:
for i in name:
    print(i,name[i])

tom 32
pol 42
jery 52

In [15]:
for e in name:
    if(name[e]==42):
        print('pol')
    else:
        print('jery')

jery
pol
jery

In [19]:
number=range(10)
square=[]
for i in number:
    sq=i**2
    square.append(sq)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
[r**2 for r in range(5)]

[0, 1, 4, 9, 16]

In [24]:
def add_sub(x,y):
    add=x+y
    sub=x-y
    return(add,sub)
add_sub(20,15)

(35, 5)

In [2]:
def intersec(s1,s2):
    res=[]
    for x in s1:
        if x in s2:
            res.append(x)
    return res
print(intersec([1,2,3],[2,3,4]))

[2, 3]

In [3]:
import random
random.choice([2,3,4,5])

4

In [5]:
def password(length):
    pw=str()
    character="abcdefghtjklmnopqrstuvwxyz"+"1234567890"
    for e in range(length):
        pw=pw+random.choice(character)
    return pw
password(5)

'bb8ve'

In [8]:
def password(length):
    pw=str()
    char="asghfdkfdirtrgn"+"13246354909"
    for e in range(length):
        pw=pw+random.choice(char)
    return pw
password(10)

'rr5t9ig4d3'